FetchITGo Node/Node-red-FetchITGo/FetchItGO.json
[{"id":"bced4df7.cb3ac","type":"tab","label":"Flow 1"},{"id":"10a0d6fd.0e8b89","type":"tab","label":"Sheet 1"},{"id":"51288d72.ec0c9c","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ea9bb57c.e483c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5dc1cc26.731434","type":"coap request","z":"10a0d6fd.0e8b89","method":"GET","observe":true,"url":"coap://localhost:5683/device","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":188,"y":298,"wires":[["acd56945.750b68"]]},{"id":"e6cb8053.b9aef","type":"inject","z":"10a0d6fd.0e8b89","name":"Fire once on start","topic":"/device","payload":"{\"deviceid\":\"t4rpi1\"}","payloadType":"json","repeat":"1","crontab":"","once":true,"x":135,"y":111,"wires":[["5dc1cc26.731434"]]},{"id":"acd56945.750b68","type":"debug","z":"10a0d6fd.0e8b89","name":"","active":true,"console":"true","complete":"payload","x":363,"y":136,"wires":[]},{"id":"c2e26e2e.c941d","type":"FetchItGO request","z":"bced4df7.cb3ac","method":"GET","observe":false,"url":"coap://localhost:5683/device","content-format":"application/json","raw-buffer":false,"name":"Fetchitrequest","x":231,"y":154,"wires":[["56ea3b40.e709fc","109204e5.44982b"]]},{"id":"63c1806d.a3562","type":"inject","z":"bced4df7.cb3ac","name":"payload","topic":"coap://localhost:5683/device","payload":"{\"device_id\":\"rpi1234\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"x":107,"y":58,"wires":[["c2e26e2e.c941d"]]},{"id":"56ea3b40.e709fc","type":"FetchItGO mqtt out","z":"bced4df7.cb3ac","name":"","topic":"topic/device","qos":"","retain":"","broker":"ea9bb57c.e483c","x":299,"y":262,"wires":[]},{"id":"109204e5.44982b","type":"FetchItGO mqtt out","z":"bced4df7.cb3ac","name":"","topic":"topic\\test","qos":"","retain":"","broker":"ea9bb57c.e483c","x":275,"y":341,"wires":[]}]